@import "tailwindcss";

#root {
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

section {
  border: 1px solid #0a0505;
  padding: 2rem;
  border-radius: 0.5rem;
}