

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
 background-color: black;
  color: white;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  padding: 4px;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 2px;
  width: 70px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #000000;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
}

/* Focus Effect */
.input:focus {
  border-color: #2f2f2f;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* Placeholder */
.input::placeholder {
  color: #bfbcbc;
}

textarea{
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #000000;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  min-height: 100px;
}

select{
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid #000000;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
}
form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p{
  text-align: left;
  font-size: large;
  font-weight: 600;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }





