

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
 background-color: black;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 3px;
}

input {
  border: 1px solid #0a0505;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em; 
  width: 100%;
}




